body{
    background:radial-gradient(circle,#ff9a9e,#ff4e8a);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-family:cursive;
}

.final{
    text-align:center;
    animation: glow 3s infinite;
}

@keyframes glow{
    0%{text-shadow:0 0 10px white}
    50%{text-shadow:0 0 25px pink}
    100%{text-shadow:0 0 10px white}
}
